#page2 {
  min-height: auto;
}

.bookingContainer {

}

.bookingContainer > div {
  display: flex;
  flex-direction: column;
}

/* Page specific style */

#hairdresserContainer {
  display: flex;
  max-width: 90vw;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

#hairdresserContainer div {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 200ms;
  border-radius: 5px;
  cursor: pointer;
}

#hairdresserContainer div:hover, #hairdresserContainer div.selected {
  transform: scale(1.1);
}

@keyframes bounce {
  0% {padding: 0}
  50% {padding: 20px}
  75% {padding: 0}
  100% {padding: 10px}
}

#hairdresserContainer div img {
  width: 150px;
  border-radius: 50%;
  padding: 11px;
}

#hairdresserContainer div .ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #333;
  z-index: -1;
  transform: scale(0.8);
}

#hairdresserContainer div.selected .ring {
  transform: scale(1);
}

#hairdresserContainer div p:first-of-type {
  font-weight: bold;
  margin-top: 10px;
}

#hairdresserContainer div p {
  margin: 0;
}


/* What? */
#what {
  height: 0;
  overflow: hidden;
  transition: 200ms height;
}

#resourceServiceContainer {
  display: flex;
  flex-direction: column;
}

#resourceServiceContainer div {
  display: flex;
  justify-content: space-between;
  transition: 200ms;
}

#resourceServiceContainer div:hover {
  background-color: #333;
  color: #fff;
}

#resourceServiceContainer div p {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
/*
#resourceServiceContainer div p:first-of-type {
  text-align: left;
} */

#resourceServiceContainer div p:last-of-type {
  padding-left: 0;
  min-width: 85px;
  justify-content: flex-end;
}

#resourceServiceContainer div i {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
