#page2 {
  min-height: auto;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.bookingContainer > div {
  display: flex;
  flex-direction: column;
}

bookingContainer h2 {
  margin: 0;
  padding: 10px;
}

/* Page specific style */

#hairdresserContainer {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

#hairdresserContainer div {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 200ms;
  border-radius: 5px;
  cursor: pointer;
}

#hairdresserContainer div:hover, #hairdresserContainer div.activeRing {
  transform: scale(1.1);
}

@keyframes bounce {
  0% {padding: 0}
  50% {padding: 20px}
  75% {padding: 0}
  100% {padding: 10px}
}

#hairdresserContainer div img {
  width: 150px;
  border-radius: 50%;
  padding: 11px;
}

#hairdresserContainer div .ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #333;
  z-index: -1;
  transform: scale(0.8);
}

#hairdresserContainer div.activeRing .ring {
  transform: scale(1);
}

#hairdresserContainer div p:first-of-type {
  font-weight: bold;
  margin-top: 10px;
}

#hairdresserContainer div p {
  margin: 0;
}


/* What? */
#what {
  height: 0;
  overflow: hidden;
  max-width: 960px;
  width: 100vw;
  transition: 200ms height;
}

#resourceServiceContainer {
  display: flex;
  flex-direction: column;
}

#resourceServiceContainer div {
  display: flex;
  justify-content: space-between;
  transition: 200ms;
  cursor: pointer;
  border-left: 3px solid transparent;
}

#resourceServiceContainer div:hover {
  border-left: 3px solid #333;
}

#resourceServiceContainer div.activeResourceOption {
  background-color: #333;
  color: #fff;
}

#resourceServiceContainer div p {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

#resourceServiceContainer div p:last-of-type {
  padding-left: 0;
  min-width: 85px;
  justify-content: flex-end;
}

#resourceServiceContainer div i {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

/* When? */
#when {
  height: 0;
  transition: 200ms;
  overflow: hidden;
}

#when .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

#when .infobar {
  display: flex;
  flex-direction: row;
}

#when .infobar a {
  display: flex;
  align-items: center;
  color: #000;
  margin: 0 20px;
}

#when #resourceScheduleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#when #resourceScheduleContainer div.column div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background-color: #333;
  /* border-radius: 3px; */
  color: #fff;
  margin: 10px;
}

#when #resourceScheduleContainer .column div.slot {
  padding: 4px;
  margin: 10px;
  background-color: #333;
  border: solid 1px #333;
  color: #fff;
  transition: 200ms;
  cursor: pointer;
}

#when #resourceScheduleContainer .column div.slot.activeSlot {
  background-color: rgba(51, 51, 51, 0);
  color: #333;
}

#when #resourceScheduleContainer .column div.slot:hover {
  background-color: rgba(51, 51, 51, 0);
  color: #333;
}

#when #resourceScheduleContainer div * {
  margin: 0;
}

/* summary */
#summary {
  height: 0;
  transition: 200ms;
  overflow: hidden;
}

#summary .inputcontainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 640px;
}

#summary .inputcontainer .row {
  display: flex;
}

#summary .inputcontainer .row * {
  display: flex;
  flex: 1;
  min-width: 0;
}
