#page1 {
  background-image: url(../img/bg.jpg)
}

#page1 h1 {
  color: #fff;
}

#page1 a {
  font-size: 20px;
}

#page1 .button:hover + a {
  animation: jump 1s infinite;
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-10px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-7px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

#page1 a.down {
  position: absolute;
  bottom: 40px;
}

#page3 {
  height: 400px;
  min-height: 0;
  overflow: hidden;
  padding: 0;
  align-items: flex-start;
  position: relative;
}

#page3 #imageContainer {
  transition: 512ms;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* position: relative; */
}

#page3 #imageContainer div {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
}

#page3 #imageContainer div:nth-of-type(1) {
  background-image: url(../img/slideshow/slideshow1.jpg);
}
#page3 #imageContainer div:nth-of-type(2) {
  background-image: url(../img/slideshow/slideshow2.jpg);
}
#page3 #imageContainer div:nth-of-type(3) {
  background-image: url(../img/slideshow/slideshow3.jpg);
}
#page3 #imageContainer div:nth-of-type(3) {
  background-image: url(../img/slideshow/slideshow3.jpg);
}
#page3 #imageContainer div:nth-of-type(4) {
  background-image: url(../img/slideshow/slideshow4.jpg);
}
#page3 #imageContainer div:nth-of-type(5) {
  background-image: url(../img/slideshow/slideshow5.jpg);
}
#page3 #imageContainer div:nth-of-type(6) {
  background-image: url(../img/slideshow/slideshow6.jpg);
}

#page3 #dots {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100vw;
  justify-content: center;
}

#page3 #dots a {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 50%;
}

#page3 #dots a:hover, #page3 #dots a.active {
  background-color: #fff;
}

#page4 {
  min-height: auto;
  padding: 0;
}

#page4 .row {
  width: 100vw;
}

#page5 h2 {
  margin-top: 60px;
}

#page5 a {
  color: initial;
}

#map {
  width: 100%;
  height: 400px;
}

#OpeningHours {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 30px;
}

#OpeningHours p {
  margin: 1em;
}

@media only screen and (min-width: 1200px) {
  #OpeningHours {
    flex-direction: row;
  }
  #page4 .row {
    flex-direction: column;
  }
}

.splitScreen {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 1440px;
  min-height: 400px;
}

.splitScreen * {
  width: 50%;
}

.splitScreen .content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splitScreen .content * {
  width: 90%;
  color: #000;
}

.splitScreen .content img {
  max-width: calc(100vw - 40px);
  width: 200px;
}

.splitScreen .img {
  background-size: cover;
  background-position: center;
}

.splitScreen#davines .img {
  background-image: url(../img/davines1.jpg);
}

.splitScreen#pur .img {
  background-image: url(../img/pur1.jpg);
}

.splitScreen#hairtalk .img {
  background-image: url(../img/hairtalk1.jpg);
}